html 
{
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(195, 218, 218);
}

/* STEP 5: Styling Lists (list-style-type, list-style-position, list-style-image) */
/* STEP 5a: list-style-type (none | square | circle | disc) */
ul 
{
    list-style: circle;
    list-style-image: url("images/check.png");
    list-style-position: outside;
}

/* STEP 5b: Manipulate the list-style-position (inside | outside) in the rule above */
/* STEP 5c: Substitute regular list markers with images (list-style-image) in the rule just below */
ul 
{
    list-style-type: lower-greek;
}

/* STEP 5d: list-style-type (armenian | decimal | decimal-leading-zero | georgian | lower/upper-alpha | lower-greek | lower-latin | lower/upper-roman) - change in the rule below */
ol 
{
    /* list-style-type: upper-latin; */
}

/* STEP 6: Laying Out Lists horizontally - use display: inline-block or inline */
li 
{
    display: inline;
}

/* STEP 7: Targetting nested lists with contextual selectors - comment out all above declarations first */
ul ul 
{
    background-color: lightgray;
}

ul ul ul 
{
    background-color: lightblue;
}

/* STEP 8: Target specific levels of list items with direct-descendent selectors */
h1 img 
{
    float: right;
}