html 
{
	/* Scroll for overflow and forms background */
	overflow-y: scroll;
	background-color: #3f3030;
}
body 
{
	/* Main styling; colors, sizes and fonts */
	font-size: 200%;
	font-family:Arial, Helvetica, sans-serif;
	color: #333;
	width: 760px;
	background-color: #FFF;
	margin: 20px auto;
	padding: 2em 2em 4em 2em;
	border-radius: 5px;
}
h1 
{
	/* Header styling */
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	letter-spacing: -0.08em;
	text-decoration: wavy;
	color: #ff8a05;
}
h2 
{
	/* Sub heading unique color */
	color: #C88039;
}
fieldset 
{
	/* Fieldset borders */
	border: 1px solid #AAA;
	margin: 1em 0;
}
legend 
{
	/* Style for legend */
	font-size: 75%;
	text-transform: uppercase;
	color: #AAA;
}
fieldset div 
{
	/* Divider spacing */
	margin-bottom: 0.5em;
}
div label 
{
	/* Label padding */
	padding-right: 1em;
}
input[required] 
{
	/* Red for missing input */
    border: 2px solid red;
}
label.error 
{
	/* Red for error */
	color: red;
	float: right;
}
label img 
{
	/* Align imaging */
	vertical-align: middle;
}
img
{
	/* Square images */
	width: 150px;
	height: 150px;
}
.hammer_images
{
	/* Image alignment */
	display: flex;
	gap: 20px;
	font-size: .8em;
	background-color: #e9e6df;
}

.hammer_images, figcaption
{
	/* Image caption alignment */
	text-align: center;
	align-items:baseline;
	margin-top: 10px;
}
a
{
	/* Standard link color */
	color: #ff8a05;
}
header ul
{
	/* Nav bar style */
    color:brown;
    list-style-type: none;
    padding: 0;
    padding-right: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}
header ul a
{
	/* Nav bar link style */
    text-decoration: none;
    font-size: 60%;
    padding: 10px;
    text-align: center;
    border: 5px solid rgb(44, 32, 32);
    color: rgb(211, 100, 100);
}
footer 
{
	/* Small footer */
	margin-left: 10px;
	margin-top: 100px;
	font-size: 50%;
	bottom: 0;
	width: 720px;
	padding: 10px 20px;
	color: #2c2222;
	border-radius: 0 0 5px 5px;
}
footer h3
{
	/* Larger foot header */
	margin-left: -10px;
	font-size: 150%;
	margin-bottom: 5px;
}