html {
	background-color: #9a3232;
}
body {
	font-size: 100%;
	font-family:Arial, Helvetica, sans-serif;
	color: #333;
	width: 760px;
	background-color: #FFF;
	margin: 20px auto;
	padding: 2em 2em 4em 2em;
	border-radius: 5px;
}
h1 {
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	letter-spacing: -0.08em;
	text-decoration: wavy;
	color: #ff8a05;
}
h2 {
	color: #C88039;
}
fieldset {
	border: 1px solid #AAA;
	margin: 1em 0;
}
legend {
	font-size: 75%;
	text-transform: uppercase;
	color: #AAA;
}
fieldset div {
	margin-bottom: 0.5em;
}
div label {

	padding-right: 1em;
}
input[required] 
{
    border: 2px solid red;
}
label.error {
	color: red;
	float: right;
}
label img {
	vertical-align: middle;
}
small {
	font-size: 70%;
}