 
html::before 
{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-size: cover;
  background-repeat: no-repeat;

  background-image:
      linear-gradient(to bottom,
          rgba(255, 255, 255, 1),
          rgba(255, 255, 255, 0)
      ),
      url('../images/hammer.jpg');

  opacity: 75%;
  z-index: -1;
}
header, footer 
{
	margin: 1in;
	padding: 0;
	line-height: 1.5;
}
html, body, p 
{
	font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    opacity: 100;
    color: rgb(0, 0, 0);
    font-size: 140%;
    text-shadow: 1px 1px 2px rgb(26, 22, 22);
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}
footer
{
    font-size: 60%;
}
em
{
    text-transform: capitalize;
    text-shadow: 3px 2px 2px rgb(26, 22, 22);
    font-style: italic;
}
h1 
{
    text-transform: uppercase;
    font-size: 54pt;
    color:black;
}
h2 {
	text-transform: uppercase;
	font-size: 16pt;
    color: rgb(34, 33, 30);
}
h3 
{
	font-size: 36pt;
    color: rgb(54, 54, 34);
}
img
{
    max-width: 30%;
    border-radius: 2px;
    border-style: solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.links a
{
    color : rgb(233, 95, 41);
}
article
{
    margin: 50px;
    padding: 20px;
    border-style: solid;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

